@media only screen and (max-width: 700px) {

  .list{
    display: flex;
    justify-content:center;
  
  
    font-size: 5px;
  }
  .sideBar{ 
  
  display: contents;
  
  }
  
  
  .listItems{
    width: 100%;  
    align-items: center;
    justify-content: space-evenly;
   
   
  }
  
  }
  
  @media only screen and (min-width: 768px) and  (max-width:1280px) {
    .list{
    display: none;
    }
    .sideBar{ 
  
      display:none;
      
      }
      .listItems{
       display: none;
       
      }
  
  }
  
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  
  }
  
  html{
    font-size: 62.5%;
  
  
  }
  
  body{
    background: rgb(3,0,31);
    color: white;
    font-family: 'Poppins', sans-serif;
   
  }
  
  .App{
    display: flex;
  
  
  }
  
  .sideBar{
    flex: -3;
    border-right: 0.5px solid rgb(100, 100, 100);
   
  
  }
  
  .main{
    flex: 9;
  }
  
  .logo{
    margin-right: 1rem;
  }
  
  .brand{
    font-size: 2rem;
  }
  
  .upperSide{
    padding: 2.5rem;
    border-bottom: 1px solid rgb(100, 100, 100);
  /*   height: 70%; */
  }
  
  .upperSideTop{
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
  
  }
  
  .addBtn{
    height: 2rem;
    padding-right: 1rem;
  
  }
  
  .midBtn{
    background: #5A4BFF;
    border: none;
    color: white;
    padding: 1.5rem;
    font-size: 1.6rem;
    width: 25rem;
    display: flex;
    align-content: center;
    justify-content:center ;
    margin-bottom: 3rem;
    border-radius: 0.5rem;
  }
  
  .query{
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    background: transparent;
    color: rgba(222,222,222,1);
    padding: 1.5rem;
    width:25rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
    border: 1px solid rgba(98,98,98,1);
  }
  
  .query img{
    margin-right: 2rem;
    object-fit:cover;
    height: 1.75rem;
  }
  
  .lowerSide{
    padding: 2rem;
  
  
  }
  .listItems{
    margin: 1rem;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
  
  }
  
  .listitemsImg{
    margin: 1rem;
    padding-right: 1rem;
  
  }
  
  
  .listItems:nth-child(1)>.listitemsImg{
    margin-right: 0.5rem;
  
  }
  
  .listItems:nth-child(3)>.listitemsImg{
    margin-right: 0.75rem;
    
  }
  
  .main{
   /*  min-height: calc(100vh -14rem); */
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 6rem 10rem;
    margin-bottom: 0;
  }
  
  .chatFooter{
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .chats{
    overflow: hidden;
    scroll-behavior: smooth;
    width: 100%;
  /*   max-width: 80rem; */
    /* height: calc(100vh- 17rem); */
  }
  
  .chat{
   /*  margin: 1rem;
    padding: 2rem 3rem; */
    
    /* font-size: 1.2rem; */
    display: flex;
    align-items: flex-start;
    text-align: justify;
  
  }
  
  .chatimg{
    object-fit: cover;
    width: 3.5rem;
    margin-right: 2rem;
    border-radius: 30px;
    
  }
  
  .bot{
    background: rgba(28,30,58,1);
    width: fit-content;
    border-radius: 0.5rem;
    
  }
  
  .inp{
   
    background: rgb(28, 30, 58,1);
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    
   
  }
  
  .inp>input{
   width: 100%;
    outline: none;
   
    color:white;
    font-size: 1.3rem;
  }
  
  .inp>input,.send{
    background: transparent;
    border: none;
  }
  
  .chatFooter p{
    margin: 2rem 0;
  }